:root {
  --color-blue-light: cornflowerblue;
  --color-blue-dark: rgb(69, 127, 236);
  --color-purple-light: rgb(95, 75, 102);
  --color-purple-dark: rgb(44, 19, 32);
  --color-grey-light: rgb(238, 241, 239);
  --color-grey-dark: rgb(186, 179, 189);
}

a {
  text-decoration: none;
  color: var(--color-purple-light);
}

body {
  margin: 0;
  background-color: var(--color-grey-light);
}

.app {
  text-align: center;
  padding: 32px;
  color: var(--color-purple-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
}

li,
p {
  text-align: left;
}

h5 {
  color: var(--color-purple-dark);
}

h6 {
  color: var(--color-purple-light);
}

.navigation {
  display: flex;
  gap: 16px;
  background-color: var(--color-blue-light);
  padding: 16px;
  margin: -32px -32px 0;
}

.button {
  border-radius: 16px;
  padding: 8px 24px;
  background-color: var(--color-blue-light);
  border: none;
  color: var(--color-grey-light);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-blue-dark);
}

.secondary-button {
  border-radius: 16px;
  padding: 8px 24px;
  background-color: var(--color-purple-light);
  border: none;
  color: var(--color-grey-light);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: var(--color-purple-dark);
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
}

.title-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0;
}

.content {
  display: flex;
  width: 100%;
  gap: 16px;
}

.observations {
  border-radius: 8px;
  border: 1px solid lightgrey;
  width: 100%;
  padding: 16px;
}

.card-small {
  color: var(--color-grey-light);
  background-color: var(--color-purple-light);
  width: 100px;
  height: 100px;
  border-radius: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 8px;
  cursor: pointer;
}

.card-small:hover,
.card-small-active {
  background-color: var(--color-purple-dark);
  transition: 0.2s background-color ease-in-out;
}

.card-small > span {
  font-weight: 700;
  text-align: right;
  font-size: 14px;
}

.card-large {
  border-radius: 8px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card-large-title {
  width: 100%;
  border-radius: 6px 6px 0 0;
  background-color: var(--color-purple-light);
  color: var(--color-grey-light);
  font-weight: 600;
  padding-block: 16px;
}

.card-large-content {
  padding: 16px;
  width: 100%;
}

.faq-content {
  display: flex;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  border-radius: 8px;
  text-align: left;
  border: 1px solid lightgrey;
  padding: 16px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-item-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq-item-buttons {
  display: flex;
  gap: 16px;
}

input {
  flex: 1 1 400px;
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 8px;
  color: var(--color-purple-dark);
}

input:focus-visible {
  border: 2px solid var(--color-blue-light);
  outline: none;
}

input::placeholder {
  color: var(--color-purple-light);
}
